[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/DPP"]
	path = libs/DPP
	url = https://github.com/brainboxdotcc/DPP
[submodule "libs/CxxUrl"]
	path = libs/CxxUrl
	url = https://github.com/chmike/CxxUrl.git
